<div class="container">
  <div class="row">
    <div class="span3 mydiv">

      <!-- 左侧菜单 -->
      <ul class="nav nav-list">
        <li class="nav-header">
          列表头
        </li>
        <li class="active"><a href="">菜单一</a></li>
        <li><a href="">菜单二</a></li>
        <li><a href="">菜单三</a></li>
        <li><a href="">菜单四</a></li>
      </ul>
        
    </div>
    <div class="span9 mydiv">
      的萨芬 
      <br><br><br><br><br>
    </div>
  </div>
</div>